
@{
    ViewData["Title"] = "wc";
}

<div id="printDiv" style=" text-align:center; border: 5px solid #90c2f8; height:620px;width:1000px; background-image:url('../lib/cloud2.png');">
    <div class="row">
        <div class="col-3">
            <img src="~/lib/TheCloudBill2.png" style="height:100px" />
        </div>
        <div class="col-9">     <span style="font-size:40px; font-weight:bold;">CERTIFICATE OF PARTICIPATION</span></div>
    </div>
    <span style="font-size:20px"><i>This is to certify that</i></span>
    <br><br />
    <span style="font-size:25px">Kishan kachhadiya</span><br />
    <span style="font-size:25px">_______________________________________</span><br /><br />
    <span style="font-size:20px"><i> has participated in TheCloudBill team presents</i></span><br /><br />
    <span style="font-size: 30px; font-weight:bold;">"TheCloudBill Contest 2020"</span><br /><br />
    <span style="font-size:20px"><i>on date</i><b> 20th to 24th August, 2020</b></span>
    <div class="row">
        <div class="col-4">
            <img src="~/lib/tTCB.png" style="height:70px;" class="img-fluid" />

        </div>
        <div class="col-4">

        </div>
        <div class="col-4">
            Kishan<br />
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <br />
            <b>thecloudbill.com</b>
        </div>
        <div class="col-4">

        </div>
        <div class="col-4">
            ____________________________<br />
            <b>Auth. Signatory</b>
        </div>
    </div>
</div>
